.add-service-form{
    width: 40%;
    margin: 0 auto;
    padding: 30px;
}
.add-service-form input,.add-service-form textarea{
    width: 100%;
    padding: 12px 15px;
    margin: 12px 0;
    border-radius: 8px;
    outline: none;
    border: 2px solid #e2aaa1;
}
.add-service-form textarea{
    resize: none;
}

.add-service-form input[type="submit"]{
    background: #e2aaa1;
    border: 1px solid white;
    color: #fff;
    font-weight: 600;
}

.add-service-form input:focus,.add-service-form textarea:focus{
    border-color: black;
}

@media(max-width:600px){
    .add-service-form{
        width: 95%;
        padding: 10px;
    }
}